  <nav class="navbar navbar-expand-lg navbar-light bg-dark menu">
    <div class="container-fluid">
      <div class="mr-auto">
        <a class="navbar-brand">
          <img src="{{foto}}" class="img-perfil img-fluid rounded-circle" alt="Foto do usuário"></a>
          <div class="d-flex">
            <p class="m-0 font-weight-bold text-white fs-16">{{nome}}</p>
            <a href="" class="ml-2"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></a>
          </div>
        </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand text-center justify-content-center m-auto titulo">
        <a href="#"><img src="../../assets/img/controller.png" alt=""></a>

        <h2 class="text-light">Tela o pai !</h2>
      </div>

      <a href="" (click)='sair'><button class="btn btn-outline-danger ml-auto">
        <p class="m-0">Sair <i class="fa fa-power-off" aria-hidden="true"></i></p>
      </button></a>
    </div>
  </nav>
