<nav class="navbar navbar-expand-lg navbar-light bg-dark menu">
  <a class="navbar-brand d-flex" href="#"><img src="https://lh3.googleusercontent.com/LlUzUTwFMXDA9B288Ra7ZF_KXRrEWJYczYnKB2TXIzjmn5p5Wrdv0PGSjbRIYU1iTNhFPx9iwY-mEdrUZSm5GvKQYpTCWyp66vPaH7lLzNNqxgk5TKn3sjklvq5vfo8Jdx_kBi1vgH0P1-nSYVJPbT8rNz4eFW7kn8b1acSWHkSQzRbu2jyQqhCqr16t-eG8b0qC9VUDUxGnC0f6HMfM25u1mVGLmwtr67BPrybyNyMIOdCCasHNVbGB7I3BTmNNmUIo0nmkRqgjE2PlinKQWQuqKFPUMfnwq91YYS81zo48InivtNymEnq_e1HIrxmCE_3Oj3KOJh5yWYycvL0tOVvXQ8mD8t6G_TXHubzEz3Y0VxtX8x2v8c6e8GEBDieItX2wXk8YZpsdNR2AHwqVLkol8AdU5MI-Y9csN7YGONE2aQK_WNT2WR2J70zcwN4f6C-MXVIWRvzMNG-gjqS6MnbLkyJqnm0nkPoYRN6OO8QNDQOaCMj4F72dqyY30ZDlUomPqqAGFhatwdwOxot1xksEuTlHJDDbhmBOKKpSvpAofVwQMW2DordVDWPhk0ZdqJWQgxlZs-7qdtuo7ZV1LzMl9nngykU9dMZ7JykJDwW5U0aSwRRz1Hl1fdRqJPl8sOStnumjvWC5x8fq-jBoqiKFgS71bLT7U16c3gWBHahz2qBEAvRIyKtZpxI_jw=w862-h798-no?authuser=1" class="img-perfil img-fluid rounded-circle" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
      
      <a class="navbar-brand d-flex" href="#"><img src="../../assets/img/controller.png" alt=""></a>
      <h2 class="text-light">Tela o pai !</h2>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul >
        <li class="nav-item active">
          
        </li>
      </ul>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair <i class="fa fa-power-off" aria-hidden="true"></i></button>
    </div>
  </nav>
