#img-bg{
    background-image: url("../../assets/img/cadastro.jpg");

    min-height: 60vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cadastro{
    font-family: 'Press Start 2P', cursive;
}