@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    scroll-behavior: smooth;

    font-family: 'Press Start 2P', cursive;
}

.fs-54{
    font-size: 45pt;
}

.fs-18{
    font-size: 18pt;
}

